@model IEnumerable<QRMenu.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemNameAR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemNameEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNameAR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNameEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
